//font
$rootfont-size: 6.25%;
$basefont-sans: 'Noto Sans KR', sans-serif;

//font-size
$xx-small: 10rem;
$x-small: 12rem; //h6
$small: 14rem; //h5
$medium: 16rem; //h4
$large: 18rem; //h3
$x-large: 24rem; //h2
$xx-large: 32rem; //h1

//media query
$media-mx480: 'screen and (max-width:480px)';
$media-mx768: 'screen and (max-width:768px)';
$media-mx1024: 'screen and (max-width:1024px)';
$media-mx1280: 'screen and (max-width:1280px)';

//color
$beige: #f2e9cc;
$blue: #282f7d;
$sky: #99c8c8;
$red: #e40000;
$pink: #f584b5;
$orange: #fb5e00;

$color-primary01: #e6dada;
$color-secondary01: #274046;

$color-primary02: #83a4d4;
$color-secondary02: #b6fbff;

$color-primary03: #f8ffae;
$color-secondary03: #2c3e50;
